
    <div class="col-lg-12 form-group">
    <br>
    <h2 class="title text-center"> Username: <a href="https://www.instagram.com/<%=@username%>"><%=@username%></a></h2>
    <br>
      <table class="table">
        <thead>
          <th>No</th>
          <th>Comments</th>
          <th width = "10%"><div class="dropdown show">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Score
            </a>
            <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="comments?id=<%=@id%>&name=<%=@username%>">Normal</a>
              <a class="dropdown-item" href="comments?id=<%=@id%>&name=<%=@username%>&type=highest">Highest Average</a>
              <a class="dropdown-item" href="comments?id=<%=@id%>&name=<%=@username%>&type=lowest">Lowest Average</a>
            </div>
          </div></th>
          <th>Link</th>
          <th>Image</th>
        </thead>
        <tbody>
         <% @comments.each do |cm|%>
          <tr>
            <td><%=@comments.index(cm)+1%></td>
            <td><%=cm.body%></td>
            <td><%=cm.score%></td>
            <td><%=link_to "#{@posts.find_by_id(cm.post_id)['link']}", @posts.find_by_id(cm.post_id)['link']%></td>
            <td><%=link_to image_tag(@posts.find_by_id(cm.post_id)['image'], height: '100', width: '100'), @posts.find_by_id(cm.post_id)['image'] %></td>
          </tr>  
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>