
<div class="row">
    <div class="col-lg-12">
      <h1 class="title text-center">Comments Statistics</h1>
      <table width="1000" align="center" class="text-left">
        <tr>
          <td><h5>Username:</h5><td>
          <td><h5> <%= @user.username%></h5><td>
        </tr>
        <tr>
          <td><h5>Number of Port:</h5><td>
          <td><h5> <%= @posts.length%></h5><td>
        </tr>
        <tr>
          <td><h5>From</h5><td>
          <td><h5><%=@posts[-1].date%></h5><td>
        </tr>
        <tr>
          <td><h5>To</h5><td>
          <td><h5><%=@posts[0].date%></h5><td>
        </tr>
        <tr>
          <td><h5>Total of Comments:</h5><td>
          <td><h5><%=@comment_count.sum%></h5><td>
        </tr>
        <tr>
          <td><h5>Average Score:</h5><td>
          <td><h5><%=@average_all%></h5><td>
        </tr>
         <tr>
          <td><h5>Highest Score:</h5><td>
          <td><h5><%=@max_all%></h5><td>
        </tr>
        <tr>
          <td><h5>URL:</h5><td>
          <td><a href="<%=@max_all_url%>"><h5><%=@max_all_url%></h5></a><td>
        </tr>
         <tr>
          <td><h5>Lowest Score:</h5><td>
          <td><h5><%=@min_all%></h5><td>
        </tr>
        <tr>
          <td><h5>URL:</h5><td>
          <td><a href="<%=@max_all_url%>"><h5><%=@min_all_url%></h5></a><td>
        </tr>
      </table>
    </div>
    
    <table align="center">
          <td><%= link_to "<button class='btn btn-primary'>Download Basic Information</button>".html_safe, index_write_path(id: @id, type:"single") %><td>
          <td><%= link_to "<button class='btn btn-primary'>Download All Comments</button>".html_safe, index_write_path(id: @id, type:"all")  %><td>
          <td><%= link_to "<button class='btn btn-primary'>Download All Comments By Rank</button>".html_safe, index_write_path(id: @id, type:"rank") %><td>
    </table>
    <br></br>
    <div class="col-lg-12 form-group">
      <table class="table">
        <thead>
          <th>No</th>
          <th>Image</th>
          <th>Link</th>
          <th>Comments</th>
          <th>Lowest</th>
          <th>Highest</th>
          <th>Average</th>
        </thead>
        <tbody>
        <% i=0%>  
         <% @posts.each do |post|%>
          <tr>
            <td><%=i+1%></td>
            <td><%=link_to image_tag(post.image, height: '100', width: '100'), post.image %></td>
            <td><%=link_to "#{post.link}", post.link%></td>
            <td><%= post.totalComments%></td>
            <td><%= post.minScore%></td>
            <td><%= post.maxScore%></td>
            <td><%= post.averageScore%></td>
            <td align = "center">
            <%= link_to "<button class='btn btn-link'>View as normal</button>".html_safe , show_path(id: @id, post_id: post.id,type: "normal") %>
            <%= link_to "<button class='btn btn-small'>Download</button>".html_safe, index_single_path(id: @id, post_id: post.id, type:"normal")%>
            </td> 
            <td>
            <%= link_to "<button class='btn btn-link'>View as rank</button>".html_safe , show_path(id: @id, post_id: post.id,type: "rank") %>   
            <%= link_to "<button class='btn btn-small'>Download</button>".html_safe, index_single_path(id: @id, post_id: post.id,type: "rank") %>
            </td>
            <%i=i+1%>
          </tr>  
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>