
<div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="title">Comments Statistics</h1>
    </div>
    <div class="col-lg-12 form-group">
      <table class="table">
        <thead>
          <th>No</th>
          <th>Link</th>
          <th>Comments</th>
          <th>View</th>
        </thead>
        <tbody>
         <% @links.each do |link|%>
          <tr>
            <td><%=link.id+1%></td>
            <td><%=link_to "#{link.link}", link.link%></td>
            <td><%= @comment_count[link.id]%></td>
            <td><%= link_to "<button class='btn btn-link'>Normal</button>".html_safe , show_path(id: link.id, type: "normal") %>
            <%= link_to "<button class='btn btn-link'>Lowest</button>".html_safe , show_path(id: link.id, type: "low") %>
            <%= link_to "<button class='btn btn-link'>Highest</button>".html_safe , show_path(id: link.id, type: "high") %></td>    
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>