<style>
.pagination {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 50px;
    width: 40%;
    padding: 10px;
}
.pagination a {
    padding: 8px 16px;
}
</style>
<div class="container text-center">
    <div>
      <h2 class="title">Enter a Instagram Username</h2>
    </div>
    <div>
        <%= form_tag :action => "index" do %>
          <div class="form-group" >
            <%= text_field_tag :insta_url, nil, placeholder: 'Hint: hyejung_belle, katiejonesknit...', class: "col-lg-4" %>
          </div>
           <div class="form-group" >
            <%= password_field_tag :pass, nil, placeholder: 'Enter secret code...', class: "col-lg-2" %>
          </div>
          <div class="text-center">
            <%= submit_tag "Submit", class: "btn btn-info" %>
          </div>
          <% end %>
    </div>
</div>

<div class="container">
    <%= form_tag('/', :method => :get) do %>
      <table>
          <td style ="padding-right:15px;"> 
            <%= text_field_tag :username, params[:username], placeholder: 'Enter an ID', class: "col-lg-12" %>
          </td>
          <td>
            <%= submit_tag "Search", class: "btn btn-info"%>
          </td>
           <% end %>
      </table>
    <hr>
    <table width="800">
      <thead>
        <th>No</th>
        <th>Username</th>
        <th>Date Start</th>
        <th>Date End</th>
      </thead>
      <tbody>
          <% @users.each do |user|%>
            <tr>
              <td><%=@users.index(user)+1%></td>
              <td><b><%=user.username%></b></td>
              <td><%=user.posts[-1].date%></td>
              <td><%=user.posts[0].date%></td>
              <td><%= link_to "<button class='btn btn-info'>Detail</button>".html_safe , index_path(id: user.id) %></td>
              <td><%= link_to "<button class='btn btn-info'>View all Comments</button>".html_safe , comments_path(id: user.id) %></td>
              <td style= "padding: 5px;"><%= button_to "Delete", root_path(id: user.id), data: {confirm: 'Are you sure to delete this account?'}, class:  'btn btn-danger'%></td>
            </tr>
              <%end%>
      </tbody>
    </table>
    <div>
      <%= paginate @users %>
  </div>
</div>
