<div class="container text-center">
    <div>
      <h2 class="title">Enter a Instagram Username</h2>
    </div>
    <div>
        <%= form_tag :action => "index" do %>
          <div class="form-group" >
            <%= text_field_tag :insta_url, nil, class: "col-lg-4" %>
           
          </div>
           <p>(Hint: hyejung_belle, katiejonesknit)</p>
          <div class="text-center">
            <%= submit_tag "Submit", class: "btn btn-info" %>
          </div>
          <% end %>
    </div>
</div>

<div class="container">
    <hr>
    <table width="600">
      <thead>
        <th>No</th>
        <th>Username</th>
        <th>Date Start</th>
        <th>Date End</th>
      </thead>
      <tbody>
        <% i=1%>
          <% @users.each do |user|%>
            <tr>
              <td><%=i%></td>
              <td><%=user.username%></td>
              <td><%=user.posts[-1].date%></td>
              <td><%=user.posts[0].date%></td>
              
              <td>
              <%= link_to "<button class='btn btn-link'>Detail</button>".html_safe , index_path(id: user.id) %>
              </td>
            </tr>
            <% i=i+1%>
              <%end%>
      </tbody>
    </table>
</div>