<style>
.pagination {
    margin: auto;
    margin-bottom: 10px;
    width: 40%;
    border: 1px solid grey;
    padding: 10px;
}
.pagination a {
    padding: 8px 16px;
}
</style>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="title">Comments</h1>
    </div>
    <div class="col-lg-12 form-group">
      <table class="table">
        <thead>
          <th>No</th>
          <th>Username</th>
          <th>Content</th>
          <th>Score</th>
        </thead>
        <tbody>
        <% i=1%>
        <% @comments.each do |cm|%>  
          <tr>
          <td><%=i%></td>
            <td><%=cm.username%></td>
            <td><%=cm.body%></td>
            <td><%=cm.score%></td>
          </tr>
          <% i=i+1%>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <%= paginate @comments %>
  </div>
