<!DOCTYPE html>
<html>
  <head>
    <title>CrawlInstaFollowers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="content" style="min-height: auto;">
      <% flash.each do |key, value| %>
      <div align="center">
        <div class="col-lg-4 text-center">
          <div class="alert alert-<%= key %> ">
            <%= value %>
          </div>
        </div>
        </div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
